.w3-row-padding {
	margin-bottom: 12px;
}
/* Set the width of the sidenav to 120px */
.w3-sidenav {
	width: 120px;background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidenav (120px) */
#main {
	margin-left: 120px;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
	#main {
		margin-left: 0;
	}
}
ul.contact {
	text-align: center;
	list-style-type: none;
	padding: 2em;
}
#imgBox {
	position: relative;
	/*width: 400px;*/
	height: 150px;
}
#link {
	position: relative;
	margin: 1px;
	left: 1000px;
	/*80em;*/
	padding: 2px;
	width: 150px;
	height: 150px;
}
section.topicLeft {
	left: 0px;
	width: 450px;
	padding: 10px;
}

section.topicRight {
	float: right;
	width: 450px;
	padding: 10px;
}
.shadow {
	box-shadow: 10px 10px 10px grey;
}
#title {
	font-variant: small-caps;
	text-shadow: 4px 4px grey;
	font-size: 70px;
}
body,h2,h4,h5,h6 {
	font-family: "Montserrat", sans-serif;
}
.white {
	color: black;
	background-color: white;
}
.black {
	color: white;
	background-color: black;
}

#topic1, #topic2, #topic3 {
	border-width:5px;  
    border-style:ridge;
}
ul.exp{
	vertical-align: middle;
	list-style: square inside url('Link\\Link_Li.png');	
}
ul.exp li {
	padding: 5px;
}
.dropDownContent {
	display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Hovering over dropdown */
.dropDownContent a:hover {
	background-color: #f1f1f1
}
/* Show the dropdown menu on hover */
#tools:onclick .dropDownContent {
    display: block;
}


h1,h3 {
	font-family: "Montserrat", sans-serif;
	text-shadow: 2px 1px grey;
	font-weight: Bold;
}
